[Unit]
Description=Running Bot service for storing number of appartments
After=multi-user.target

[Service]
WorkingDirectory=/home/user/nepremicnineBot
Type=simple
Restart=always
ExecStart=/usr/bin/python /home/user/nepremicnineBot/runningBot.py

[Install]
WantedBy=multi-user.target